@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

header {
  height: 100px;
  padding: 43px 0 35px;
  position: absolute;
  top: 0;
  width: 100%;
}

.header-container {
  padding: 0 60px;
}

.container-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 2px solid #f2f2f2;
}

.logo {
  font-weight: bold;
  color: #db0042;
  font-size: 22px;
  text-decoration: none;
}

.header-links-dekstop,
.header-links {
  display: flex;
  gap: 15px;
}

.header-links-dekstop > *,
.header-links {
  text-decoration: none;
  color: #929292;
}

.header-links-dekstop > *:hover {
  color: #db0042;
}

.main {
  padding: 180px 0;
}

.main-container {
  margin: 0 220px;
  padding: 0 170px;
}

.blog-item,
.comment-item {
  margin-top: 55px;
}

.blog-header,
.comment-header {
  margin-bottom: 10px;
}

.blog-title,
.comment-title {
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}

.blog-title:hover {
  color: #db0042;
}

.blog-text,
.comment-txt {
  color: #929292;
}

.blog-footer,
.comment-footer {
  margin-top: 10px;
  color: #929292;
}

.blog-date-read-one {
  margin-bottom: 31px;
  color: #929292;
}

.blog-header-read-one {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 18px;
}

.blog-text.read-one {
  margin-bottom: 30px;
}

.comments-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 15px;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

form > label {
  display: flex;
  flex-direction: column;
}

form > label > input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #929292;
  margin-bottom: 10px;
  font-size: inherit;
}

form > label > input:focus {
  outline: none !important;
  border-color: #db0042;
}

button {
  padding: 7px;
  font-size: inherit;
  border-radius: 6px;
  border: 1px solid #db0042;
  background-color: #db0042;
  cursor: pointer;
  color: white;
}

button:hover {
  opacity: 0.9;
}

.comment-item {
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 0 13px 0 #c9c9c9;
}

.mobile-navigation {
  display: none;
}

.nav-links {
  transform: scale(0);
  transition: all 0.3s ease-in;
  position: absolute;
  top: 78px;
  right: 0;
  width: 100%;
  height: 100vh;
  background: black;
  opacity: 0;
}

.menu-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu-btn-burger,
.menu-btn-burger::before,
.menu-btn-burger::after {
  width: 20px;
  height: 2px;
  transition: all 0.5s ease-in-out;
  background: black;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
}

.menu-btn-burger::before {
  transform: translateY(-6px);
}

.menu-btn-burger::after {
  transform: translateY(6px);
}

.menu-btn.open .menu-btn-burger {
  transform: translateX(-20px);
  background: transparent;
}

.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(10px, -10px);
}

.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(10px, 10px);
}

.nav-links.open {
  transform: scale(1);
  opacity: 1;
}

.header-links,
.header-links.open {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.header-links > *,
.header-links.open > * {
  color: white;
  text-decoration: none;
}

.header-links.open > *:hover {
  text-decoration: underline;
}

#light {
  background-color: white;
}

#dark {
  background-color: #1e1f21;
}

#dark label,
#dark .comments-title,
#dark .comment-title,
#dark .blog-header-read-one,
#dark .blog-title {
  color: white;
}

#dark input {
  background-color: #1e1f21;
  color: white;
}

#dark .blog-title:hover {
  color: #db0042;
}

#dark .menu-btn-burger,
#dark .menu-btn-burger::before,
#dark .menu-btn-burger::after {
  background: white;
}

#dark .container-inner {
  border-bottom: 2px solid #929292;
}

#dark .menu-btn.open .menu-btn-burger {
  background-color: #1e1f21;
}

.header-content-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media (max-width: 1500px) {
  .main-container {
    margin: 0 180px;
    padding: 0 130px;
  }
}

@media (max-width: 1400px) {
  .main-container {
    margin: 0 135px;
    padding: 0 85px;
  }
}

@media (max-width: 1200px) {
  .main-container {
    margin: 0 80px;
    padding: 0 50px;
  }
}

@media (max-width: 1000px) {
  header {
    padding: 30px 0 30px;
  }

  .header-container {
    padding: 0 30px;
  }

  .blog-item,
  .comment-item {
    margin-top: 30px;
  }

  .main {
    padding: 140px 0;
  }

  .main-container {
    margin: 0 15px;
    padding: 0 15px;
  }
}

/* mobile menu */
@media (max-width: 700px) {
  .navigation-dekstop {
    display: none;
  }
  .mobile-navigation {
    display: flex;
  }
}

@media (max-width: 600px) {
  header {
    padding: 20px 0 20px;
  }

  .header-container {
    padding: 0 20px;
  }

  .main {
    padding: 120px 0;
  }

  .nav-links.open {
    top: 67px;
  }

  .main-container {
    margin: 0 10px;
    padding: 0 10px;
  }
}
